header h1 {
  font: 400 70px/0.8 'AmericanaRegular', Helvetica, sans-serif;
  color: #000;
  /*text-shadow: 4px 4px 3px rgba(10,10,10,0.5);*/
  text-transform : uppercase;  
}
header h2 {
  font: 400 37px/0.8 'Cookie', Helvetica, sans-serif;
  color: #000;
  text-shadow: 4px 4px 3px rgba(10,10,10,0.1); 
}
header h3 {
  font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
  color: #AAA;
  text-shadow: 4px 4px 3px rgba(30,30,30,0.1); 
}

header h4 {
  font: 400 100px/1.3 'Arizonia', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1); 
}

header h1, header h2 {
	margin : 0;
	text-align:right;	
}
header #menu { 
	border-top: 1px dashed;
	border-bottom: 1px dashed;
	text-align:right;
	padding-top: 10px;
	padding-bottom: 10px;
}
header #menu li {
	border-radius : 5px;
	padding-top : 3px;
	padding-bottom : 3px;
	padding-left : 10px;
	padding-right : 10px;
	background-color : black;
	
	color : white;

}
header a:link {
	text-decoration : none;
	color : black;
	border : none;
 }


a:link {
	color : black;
	text-decoration : none;
	border-bottom : 1px dotted black; 
}
a:visited {
	color:black;
	text-decoration : none;
	border-bottom : 1px dotted black; 
}
a:active {
	text-decoration : underline;
	border-bottom : none;  
}


h1 {  }

body { background-image : url(../bg.png); }
main { 
	width:85%;
	margin : auto;
}
article {
	margin-left : 5%;
	border-left :  1px solid grey;
	padding-left : 10px;
}
article h2 {
	font-family : "Lucida Bright" ;
	text-weight : bold;
	font-variant: small-caps;
	font-stretch : extra-expanded;
	font-size : 24px;
}
main h2 footer {
	font-family : Arial;
	font-size : small;
	display : inline;
	padding : 2%;
}
#photo { 
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	border : 10px solid white;
	border-bottom : 30px solid white;
	/*margin-left : 50px;*/
	/*float : left;*/
	left : 50px;
	position : absolute;
	-webkit-transform: scale(0.3) rotate(11deg) translate(80px, 0px) ;
	-moz-transform: scale(0.3) rotate(11deg) translate(80px, 0px) ;
	-o-transform: scale(0.3) rotate(11deg) translate(80px, 0px) ;

	-moz-transform-origin : 10px 10px;
	-webkit-transform-origin : 10px 10px;
	-o-transform-origin : 10px 10px;
	filter:grayscale(1);
	-webkit-filter:grayscale(1);

}
#photo:hover {
	-webkit-transform: scale(0.75) rotate(0deg) translate(0px, 0px) ;
	-moz-transform: scale(0.75) rotate(0deg) translate(0px, 0px) ;
	-o-transform: scale(0.75) rotate(0deg) translate(0px, 0px) ;
	filter:grayscale(0);
	-webkit-filter:grayscale(0);
}

address { display: inline;}
