{% extends "base.html" %}
{% block content %}
<section id="content-index">
{% block content_title %}
<h1>Tous les articles</h1>
{% endblock %}

{% for article in articles_page.object_list %}
                <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
                <footer class="post-info">
                    <abbr class="published" title="{{ article.date.isoformat() }}"> {{ article.locale_date }} </abbr>
                    <address class="vcard author">par
                    {% for author in article.authors %}
                        <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                    {% endfor %}
                    </address>
                </footer><!-- /.post-info -->
		</h2>
        	        <article class="entry-content"> <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title }}">{{ article.summary }}</a>
</article><!-- /.entry-content -->
		{% if loop.index == 1 %}
        	        <article class="entry-content"> <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.content|striptags|truncate(1000, False, "<a href=\"{{ SITEURL }}/{{ article.url }}\" > &Gt;Lire la suite&hellip; </a>" ) }}</a>
</article><!-- /.entry-content -->
		{% endif %}
{% endfor %}
{% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %}
</section><!-- /#content -->
{% endblock content %}
